# DATABASE 

# replace with your Connecting with MongoDB Driver: 
DATABASE_LOCAL=mongodb+srv://<username>:<password>@cluster0.jys8h.mongodb.net/?retryWrites=true&w=majority

#You can use it.
DATABASE_PROD=mongodb://<username>:<password>@cluster0.jsdnfkg

# replace with your DB Name.
DB_NAME="test-db"

# CREDENTIALS:
#replace with your database username and password.

DATABASE_LOCAL_USERNAME= demoName

DATABASE_LOCAL_PASSWORD= u2DqlpJ1


# ENVIRONMENT:

NODE_ENV=development


# CLIENT SIDE URL:
**When deploying the server site [replace with your depoly URL and localhost URL]**

CLIENT=https://homifyestate-bf41d.web.app/

LOCAL_CLIENT=http://localhost:5173


# token secret for jwt authentication:

ACCESS_TOKEN_SECRET= randomTestTokentext;